 
@model IEnumerable<aspbiblio.Models.Autor>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        @* <p class="card-title"></p> *@
        <a asp-controller="Users" asp-action="Create" class="btn btn-primary">Ajouter Un Nouveau Auteur de livre</a>
        <div class="table-responsive">
          <table id="recent-purchases-listing" class="table">
            <thead>
              <tr>
                  <th>Nom</th> 
                  <th>Telephone</th>
                  <th>Creer le:</th>
                  <th>Modifier le:</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updated_at)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id })  |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id }) 
                    </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>