@model IEnumerable<aspbiblio.Models.Book>

@* <div class="row row-cols-1 row-cols-md-3 g-4">
    
    @foreach (var item in Model) {
        <div class="col">
            <div class="card">
                <img src="~/img/book.jpg"  class="card-img-top" Width="20" Height="80" alt="book">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.libelle)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.libelle)</p>
                </div>
            </div>
        </div>
    } *@
    
<div class="row row-cols-3 row-cols-md-6 g-4">
     @foreach (var item in Model) {
  <div class="col">
    <div class="card h-100">
      <img src="~/img/book.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.libelle)</h5>
        <p class="card-text">@Html.DisplayFor(modelItem => item.libelle)</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">In Stock: @Html.DisplayFor(modelItem => item.qty)</small>
      </div>
    </div>
  </div>
     }
</div>

