@model IEnumerable<aspbiblio.Models.Purcharse>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
        <div class="card-body">
            @* <p class="card-title"></p> *@
            <a asp-action="Create" class="btn btn-primary"> <span><i class="mdi mdi-plus"></i></span>Ajouter Un Nouveau Role</a>
            <div class="table-responsive">
            <table id="recent-purchases-listing" class="table"> 
                <thead>
                <tr>
                    <th>Nom du Livres</th> 
                    <th>Quantite Acheter</th>
                    <th>Prix d'achat</th>
                    <th>Jour D'achat</th>
                    <th>Jour de Modification</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.buying_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updated_at)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id"><span><i class=" mdi mdi-border-color btn btn-primary "></i></span></a>
                        <a asp-action="Delete" asp-route-id="@item.id"><span><i class="mdi mdi-delete btn btn-danger "></i></span></a>
                </td>
                </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
